.home {
  background: rgba(134, 134, 134, 0.342);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .game-rules-box {
    h1 {
      text-align: center;
    }
    border-radius: 10px;
    padding: 60px;
    width: 70%;
    background: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    gap: 50px;
    color: white;

    .game-rules {
      text-align: center;

      @media (max-width: 530px) {
        font-size: 0.85rem;
      }
    }

    @media (max-width: 530px) {
      padding: 20px;
      font-size: 0.9rem;
    }
  }
}
